.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
background-color: orange;
}
.Título1 {
  font-size: 50px;
  margin: ;
}
.Título2 {
font-size: 35px;
margin-top: 100px;
}
section {

height: 750px;
display:flex;
flex-wrap:wrap;
}
img {
height: 350px;
}